/* globals */
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);

/* Metal ------------------------- */

body {
  margin-left: 2cm;
}

.metal {
  position: relative;
  margin: 40px auto;
  outline: none;
  
  font: bold 2.7em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0,0%,20%,1);
  text-shadow: hsla(0,0%,40%,.5) 0 -1px 0, hsla(0,0%,100%,.6) 0 2px 1px;
  
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px, /* top HL */
    
    hsla(0,0%, 0%,.15) 0 -5px 6px 4px, /* outer SD */
    hsla(0,0%,100%,.5) 0  5px 6px 4px; /* outer HL */ 
  
  transition: color .2s;
}

/* Linear ------------------------- */

.metal.linear {
  width: 100px;
  font-size: 4em;
  height: 80px;
  border-radius: .5em;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

.frame {
  display: block;
  border-radius: 4px;
  box-shadow: 
    -2px -2px 1px rgba(0,0,0,0.5) inset,
    20px 4px 10px rgba(0,0,0,0.35), 
    40px 8px 10px rgba(0,0,0,0.15);   
  margin: 0 auto;
  border-image-slice: 27 27 27 27;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url('https://pedromxavier.github.io/garticphone/border.png');
  width: max-content;
  height: max-content;
  padding: 20px 20px 16px 20px;
}

.frame img {
  width: 4cm;
}

.picture {
  display: inline-block;
  margin: 0 auto;
  margin-top: 2cm;
}

.picture p.metal {
  font: bold 0.6em/2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  width: max-content;
  height: max-content;
  margin-top: 0.3cm;
  padding-left: 20pt;
  padding-right: 20pt;
  border-radius: 0;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    gold          47%, 
    goldenrod 53%,
    hsl(0,0%,78%)    100%);
}

/* Funcionario / Vacilao do mes */

.employee-month {
  width: 100%;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  justify-items: inherit;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(200px, 0.9fr));
  grid-auto-rows: 1fr;
}
